<!doctype html>
<title>JamAlong</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>JamAlong</h1>
    <div class=metanav>
        {% if user %}
            <p>Hello {{ user.username }}</p>
        {% else %}
            <p>Please <a href="{{ url_for('auth.login') }}?next={{ request.path }}">log in</a></p>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>