<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JamAlong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
     <script>
        $(document).ready(function () {

            var bar = $('.bar');
            var percent = $('.percent');
            var status = $('#status');

            function getSongs() {
                $.getJSON("http://127.0.0.1:5000/api/song/",
            {
                format: "json"
            },
            function(json) {
                var items = [];
                var elem = [];

                items = json.objects;

                $('.table > tbody').remove();

                for (var i = 0; i < items.length; i++){
                    console.log(items[i].title);
                    elem.push('<tr><td>' + items[i].title + '</td>'+
                            '<td>' + items[i].artist + '</td>'+
                            '<td>' + items[i].album + '</td>'+
                            '</tr>');
                }
                $('<tbody/>', {
                    html: elem.join('')
                    }).appendTo('.table');
                });
            }

            $('#upload_form').ajaxForm({
                beforeSend: function() {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                    //console.log(percentVal, position, total);
                },
                complete: function(xhr) {
                    status.html(xhr.responseText);
                    getSongs();
                }
            });

            getSongs();
        });
     </script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">JamAlong</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">My song book</a></li>
              <li><a href="#about">Upload song</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="page-header">
                    <h1>My song book</h1>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Song name</th>
                      <th>Artist</th>
                      <th>Album</th>
                    </tr>
                  </thead>
                </table>
                <div id="result"></div>
            </div>
            <div class="span4">
                <div id="upload">
                    <div class="page-header">
                        <h1>Upload new song</h1>
                    </div>
                    <form class="well form-inline" id="upload_form" action="/api/songs/upload" enctype="multipart/form-data">
                        <input type="file" class="btn" name="file" >
                        <input type="submit" class="btn" value="Upload ">
                        <p>
                        <div class="progress progress-striped">
                            <div class="bar" tyle="width: 40%;"></div >
                        </div>
                        <div id="status"></div>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.js"></script>

  </body>
</html>
